{% extends "bootstrap/base.html" %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('static', filename='main.css')}}">

{% endblock %}

{% block title %}Model Tracking System{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='wf.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='wf.ico') }}" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">

<script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>

{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Home</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <!--<li><a href="/">Home</a></li>-->
                <li><a href="/usecase/create">Create Usecase</a></li>

            </ul>
            <!--<ul class="nav navbar-nav">-->
            <!--<li><a href="/log">Log</a></li>-->
            <!--</ul>-->
        </div>
    </div>
</div>
{% endblock %}


{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    {% block page_content %}{% endblock %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
<script>
$(function () {
  $('[data-toggle="popover"]').popover()
})
</script>
{% endblock %}
