{% extends "base.html" %}

{% block title %}Model{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Parse a JSON and display model components</h1>

    <table style="width:100%">
  <tr>
    <th>Type</th>
    <th>Name</th>
      <th>Description</th>

  </tr>
  <tr>
    <td>FE</td>
    <td>WordShape</td>
      <td>Returns word shape</td>

  </tr>
  <tr>
  <tr>
    <td>Annotator</td>
    <td>InvoiceNumberNER</td>
      <td>Placeholder</td>
  </tr>
</table>


</div>
{% endblock %}

