{% extends "base.html" %}

{% block title %}Logs{% endblock %}

{% block page_content %}


<table class="table table-dark table-striped table-bordered">
    <thead>
    <tr>
        {% for col in cols %}
        <th><b> {{col}} </b></th>

        {% endfor %}
    </tr>
    </thead>

    <tbody>
    {% for row in rows %}
    <!--Todo-->
    <tr>
        {% for value in row[0:3] %}
        <td>{{value}}</td>
        {% endfor %}

        {% for value in row[3:6] %}
        <td>{{value|int}}</td>
        {% endfor %}

        {% for value in row[6:] %}
        <td>{{'%0.2f'| format(value|float * 100)}}%</td>

        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}

