{% extends "base.html" %}

{% block title %}Model Logs{% endblock %}

{% block head%}
{{super()}}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.18/css/jquery.dataTables.min.css"/>
<script type ="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type ="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>



{% endblock%}

{% block page_content %}

<table id="example" class="table table-dark table-striped table-bordered">
    <thead>
    <tr>
        {% for col in cols %}
        <th><b> {{col}} </b></th>

        {% endfor %}
    </tr>
    </thead>

    <tbody>
    {% for row in rows %}
    <tr>
        {% for value in row[0:3] %}
        <td>{{value}}</td>
        {% endfor %}

        {% for value in row[3:6] %}
        <td>{{value|int}}</td>
        {% endfor %}

        {% for value in row[6:] %}
        <td>{{'%0.2f'| format(value|float * 100)}}%</td>

        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>


{% endblock %}

{% block scripts %}
<script type ="text/javascript" class="init">

$(document).ready( function () {
    $('#example').DataTable();
} );

</script>
{{ super() }}

{% endblock %}