{% extends "base.html" %}


{% block title %}Test{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>

<script type="text/javascript" src="{{url_for('static', filename='bootstrap-confirmation.js')}}"></script>

<link rel="shortcut icon" href="{{ url_for('static', filename='wf.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='wf.ico') }}" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
<script src="http://bootstrap-confirmation.js.org/assets/js/docs.min.js"></script>
<script src="http://bootstrap-confirmation.js.org/assets/js/script.js"></script>
<script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>


{% endblock%}

{% block page_content %}
<div class="page-header">
    <h2>Models developed for test</h2>
</div>


<h1>Hello World</h1>

<button type="button" class="btn btn-lg btn-danger" data-toggle="popover" title="Popover title"
        data-content="And here's some amazing content. It's very engaging. Right?">Click to toggle popover
</button>

<p>This is a demo</p>


<a class="btn btn-large btn-primary" data-toggle="confirmation" data-title="Are you sure you want to delete"
>Delete Model</a>

<button class="btn btn-default" data-toggle="confirmation">Confirmation</button>

<h3>This is another demo</h3>


<table id="table_id"
       class="table table-striped table-bordered">
    <thead>
    <tr>
        <td>Field</td>
        <td>TP</td>
        <td>FP</td>
        <td>FN</td>
        <td>Precision</td>
        <td>Recall</td>
        <td>F1</td>
    </tr>
    </thead>

    <tbody>

    <tr>
        <td>abc</td>
        <td>bbb</td>
        <td>cat</td>
        <td>10</td>
        <td>20</td>
        <td>30</td>
        <td>10</td>
    </tr>

    <tr>
        <td>z</td>
        <td>zzz</td>
        <td>dad</td>
        <td>5</td>
        <td>30</td>
        <td>40</td>
        <td>5</td>
    </tr>


    </tbody>
</table>


<script>
$(function () {
  $('[data-toggle="popover"]').popover()
})
</script>
{% endblock %}


