{% extends "base.html" %}

{% block title %}Usecases{% endblock %}


{% block page_content %}

<div class="row">
    {% for usecase in usecases%}

    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">
                Planning / In Progress / Done
            </div>
            <div class="card-body">
                <h5 class="card-title display-4">{{usecase.usecaseName}}</h5>
                <p class="card-text">{{usecase.usecaseDescription}}</p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Create Date: {{usecase.usecaseDate}}</li>
                    <li class="list-group-item">Category: {% if usecase.usecaseCategory == "IE" %}
                        Information Extraction
                        {% elif usecase.usecaseCategory == "CLASS" %}
                        Classification
                        {% else %}
                        usecase.usecaseCategory
                        {% endif %}
                    </li>
                </ul>
                <a href="/usecase/{{usecase.usecaseName}}" class="btn btn-primary">See models</a>
            </div>
        </div>
    </div>
    {% endfor%}

    <br>
    <br>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">
                Planning / In Progress / Done

            </div>
            <div class="card-body">
                <h5 class="card-title display-4">New Usecase</h5>
                <!--https://www.w3schools.com/bootstrap4/bootstrap_typography.asp-->
                <p class="card-text"></p>

                <a href="/usecase/create" class="btn btn-primary">Create</a>
            </div>
        </div>
    </div>
</div>


{% endblock %}

