{% extends "base.html" %}

{% block title %}Usecases{% endblock %}


{% block page_content %}

<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title display-4">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                 <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">
                Featured
            </div>
            <div class="card-body">
                <h5 class="card-title display-4">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>

    <br>
    <br>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">
                Planning / In Progress / Done

            </div>
            <div class="card-body">
                <h5 class="card-title display-4">New Usecase</h5>
                <!--https://www.w3schools.com/bootstrap4/bootstrap_typography.asp-->
                <p class="card-text"></p>

                <a href="/usecase/new" class="btn btn-primary">Create</a>
            </div>
        </div>
    </div>
</div>


{% endblock %}

