                        /* Core Styling */
h1{
    color:blue;
}

p{

font-size:14px;
font-weight: bold;

}

ul li{
  display: inline;
}

#list-group li
{
display: inline;
list-style-type: none;
padding-right: 20px;
}

/* https://stackoverflow.com/questions/18529274/change-navbar-color-in-twitter-bootstrap */
/* navbar */
/*
.navbar-inverse {
    background-color: #fc4710;
    border-color: #E7E7E7;
}
*/


/* Title */
/*
.navbar-inverse .navbar-brand {
    color: #777;
}
*/


h2 {
  font-size: 18px;
  margin-top: 40px;
  text-align: center;
  letter-spacing: -2px;
}
h3 {
  font-size: 16px;
  font-weight: 100;
  margin-top: 30px;
  text-align: center;
  letter-spacing: -1px;
  color: #999;
}

